@import '../settings/global.scss';



.c-movieGrid{
    display: grid;
    grid-template-columns:repeat(5, calc(100% / 5  - (160px /5)));
    grid-column-gap:  40px;
    grid-row-gap: 40px;
    margin: 16px 0;
    // display: flex;
    // flex-wrap: wrap;
    // width: 100%;
    // align-items: center;
    // align-content: center;
}

.c-filterBar{
    display: flex;
    margin: 16px 0 32px 0;
}

.c-dropdownGenre {
    display: block;
}

.c-dropdownGenre-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  background-color: $global-blue;
}

.c-dropdownGenre:hover .c-dropdownGenre-content {display: block;}



.c-buttonNav{
    background-color: #cf1111;
    color:white;
    padding:8px 16px;
    margin: 4px 8px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.c-buttonNav-first{
    margin: 4px 8px 4px 0;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.c-promoBox{
    margin:0;
    padding:0;
    overflow: hidden;
    align-items: center;
    position: relative;
    display: flex;
    height: 500px;
    margin-top: -15px;
    animation: 1s ease-out 0s 1 appear;


}

.c-promoImage{
    justify-content: center;
    width: 100%;



}

.c-promoTitle{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 48px;

}

.c-promoText{
    font-size: 2rem;
}

.c-promoTextBox{
    margin: 0 0 0 200px; 
    position: absolute;
    width: 550px;
    text-align: start;
    text-shadow: -1px 0 black, 0 0.5px black, 1px 0 black, 0 -1px black;

}


@media screen and (min-width: 1001px) and (max-width: 1200px) {

    .c-movieGrid{
        grid-template-columns:repeat(4, calc(100% / 4  - (120px /4)));
    }

.c-promoBox{
    height: 350px;

}
.c-promoTitle{
    font-size: 3rem;
    margin-bottom: 48px;
}

.c-promoText{
    font-size: 1.5rem;

}

.c-promoTextBox{
    margin: 0 32px 32px 32px ; 
    width: auto;

}
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .c-movieGrid{

        grid-template-columns:repeat(3, calc(100% / 3  - (80px /3)));
    }
}


@media only screen and (max-width: 800px) {

    .c-movieGrid{

        grid-template-columns:repeat(2, calc(100% / 2  - (40px /2)));
    }

  .c-promoBox{
    height: 200px;

}
.c-promoTitle{
    font-size: 2rem;
    margin-bottom: 16px;
}

.c-promoText{
    font-size: 1rem;

}

.c-promoTextBox{
    margin: 0 32px 32px 32px ; 
    width: auto;

}

.c-promoImage{
    width: 110%;
}
}

  